[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/malayazone
[access "refs/for/refs/*"]
	read = group user/malayazone
	push = group user/malayazone
	label-Code-Review = -2..+2 group user/malayazone
	label-Verified = -1..+1 group user/malayazone
	rebase = group user/malayazone
	removeReviewer = group user/malayazone
	submit = group user/malayazone
[access "refs/heads/*"]
	read = group user/malayazone
	create = group user/malayazone
	push = +force group user/malayazone
	pushMerge = group user/malayazone
[access "refs/tags/*"]
	push = group user/malayazone
	push = +force group user/malayazone
